@font-face {
  font-family: "Acid-Grotesk-Light";
  src: url(../assets/fonts/FFF-AcidGrotesk-Light-TRIAL.otf);
}

@font-face {
  font-family: "Acid-Grotesk-Regular";
  src: url(../assets/fonts/FFF-AcidGrotesk-Regular-TRIAL.otf);
}

@font-face {
  font-family: "Acid-Grotesk-Bold";
  src: url(../assets/fonts/FFF-AcidGrotesk-Bold-TRIAL.otf);
}

:root {
  --color-primary: #4C507B;

  --color-secondary: #DDE0FC;
}

* {
  font-family: "Acid-Grotesk-Regular";
}

header {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100px;
  }
  
.navItem {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
.navItem:hover {
  opacity: 0.6;
}

main {
  margin: 0;
  padding: 0;
}

.word-carousel {
  -webkit-mask-image: linear-gradient(transparent 0%, #eee 10%, #eee 40%, transparent 100%);
  mask-image: linear-gradient(transparent 0%, #eee 10%, #eee 40%, transparent 100%);
  display: inline-block;
  position: absolute;
  height: 130px;
  line-height: 1em;
  width: 300px;
  overflow: hidden;
  vertical-align: middle;
  @media (max-width: 1280px) {
    margin-left: 15px;
  }
  @media (max-width: 845px) {
    display: block;
    position: relative;
    margin: 15px 0;
  }

  .word-carousel-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    animation: 6s linear infinite forwards carousel;
    .word-carousel-item {
      color: #BCBFE2 !important;
      display: block;
      line-height: 1;
      margin-bottom: 16px;
    }
  }
}

.payments {
  @media (min-width: 1280px) {
    margin-left: 300px;
  }
  @media (max-width: 1279px) {
    display: block;
  }
}

@keyframes carousel {
  0% {top: calc(-0em + 8px);}
  11% {top: calc(-0em + 8px);}
  22% {top: calc(-1em + -8px);}
  33% {top: calc(-1em + -8px);}
  44% {top: calc(-2em + -24px);}
  55% {top: calc(-2em + -24px);}
  66% {top: calc(-3em + -40px);}
  77% {top: calc(-3em + -40px);}
  88% {top: calc(-4em + -56px);}
  99% {top: calc(-4em + -56px);}
  99.01% {top: calc(-0em + 8px);}
  100% {top: calc(-0em + 8px);}
}

.partner-logo {
  max-width: 250px;
  height: max-content;
}

.industry-standards {
  width: fit-content;
  max-height: 100px;
}

/* BOOTSTRAP */

.fs-1 {
  font-size: 66px !important;
  line-height: 1.2 !important;
  letter-spacing: -0.5px !important;
  color: #2C2C2C;
}

.fs-3 {
  font-size: 20px !important;
  line-height: 24px !important;
  letter-spacing: -0.5px !important;
  color: #2C2C2C;
}

.btn-primary {
  padding: 13px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 14px;
  font-family: "Acid-Grotesk-Regular";
  font-weight: 500;
  line-height: 14px;
  border: none;
  transition: 0.4s;
}
.btn-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  opacity: 0.6;
}

.btn-secondary {
  padding: 13px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 14px;
  font-family: "Acid-Grotesk-Regular";
  font-weight: 500;
  line-height: 14px;
  border: none;
  transition: 0.4s;
}
.btn-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  opacity: 0.6;
}

.text-secondary {
  color: #B3B3B3 !important;
}
  /*# sourceMappingURL=style.css.map */
